<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Header Demo</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:fragment="header">
<header class="header is-fixed">
        <div class="header__inner">
          <div class="header__logo" id="logo-top">
            <img src="/img/logo.png">
          </div>
          <div class="header_title">
            <h1 class="text_title_header">Chào Mừng Bạn Đến Với NodeJs</h1>
          </div>
          <div class="header__user">
            <img class="icon_avatar" src="img/avatar.png" >
            <p class="header__user__name" id="name_user">Chinh Duong</p>
            <p class="header__user__e-mail" id="mail_user">chinh.duong@gmail.com</p>
            <div class="header__user__nemu js-header-item">
              <div class="header__user__nemu__btn js-header-item__btn">
                <img id="btn-menu"class="icon_notification" src="img/menu.png">
              </div>
              <ul class="header__user__nemu__item">
                <li>
                  <a href="javascript:void(0);" class="header__user__nemu__item__link">
                    <img class="icon-profile" src="img/avatar.png"></img>Hồ sơ</a>
                </li>
                <li>
                  <a href="javascript:void(0);" id="btn-logout" class="header__user__nemu__item__link">
                    <img class="icon-logout" src="img/logout.png"></img>Đăng xuất</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
      </header>

      <!-- loading -->
    <div th:replace="bluu.common :: loading "></div>
    <!-- loading -->
    <!-- The dialog box -->
    <div class="modal confirm--logout" id="modal1">
      <ul class="modal__account">
          <li>
              <i class="icon icon--exit" style="margin-bottom: 13px;padding-right: 10px;"></i><span></span>
          </li>
      </ul>

      <ul class="modal__buttons">
          <li class="modal__buttons__item">
              <a href="javascript:void(0);" id="cancel" class="link js-closeModal"></a>
          </li>
          <li class="modal__buttons__item">
              <a href="javascript:void(0);" id="logout" class="link"></a>
          </li>
      </ul>
  </div>
</div>
</body>
</html>
