<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include ../view/header %>
    <% include ../view/side_bar %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="/js/text.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
