@charset "UTF-8";
/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/* Display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio, canvas, progress, video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, [hidden] {
  display: none;
}

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*, ::before, ::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before, ::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */

html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
}

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */

/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */

hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol, nav ul {
  list-style: none;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */

abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct colors in IE 9-.
 */

mark {
  background-color: #ffff00;
  color: #000000;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Correct the font size in all browsers.
 */

small {
  font-size: 83.3333%;
}

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */

sub, sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline when hovering in all browsers (opinionated).
 */

a:hover {
  outline-width: 0;
}

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */

/*
 * Remove border spacing in all browsers (opinionated).
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */

/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */

button, input, select, textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0;
  /* 3 */
}

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the focus styles unset by the previous rule.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the border, margin, and padding in all browsers.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
  padding: 0;
}

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */

::-webkit-search-cancel-button, ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
  cursor: default;
}

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a, area, button, input, label, select, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont "Hiragino Sans", "Hiragino Kaku Gothic ProN", "yu gothic", "メイリオ", Meiryo, sans-serif;
  color: #263238;
  letter-spacing: 0.38px;
  font-size: 62.5%;
}

body {
  min-width: 1280px;
  height: 100%;
  font-weight: 400;
}

b, strong {
  font-weight: 600;
}

/**
 * account-item
 */

.account-item__header {
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 60px;
}

.account-item__label {
  font-size: 1.3rem;
  color: #777777;
}

.account-item__main {
  border-top: solid 1px #EEEEEE;
}

.account-item__main li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 20px 32px;
  border-bottom: solid 1px #EEEEEE;
  position: relative;
  padding-right: 60px;
}

.account-item__name {
  font-size: 1.6rem;
  font-weight: 600;
}

.account-item__mail {
  font-size: 1.6rem;
  color: #777777;
  word-break: break-all;
}

.account-item__none {
  font-size: 2rem;
  color: #777777;
  position: absolute;
  top: 12px;
  right: 40px;
  text-decoration: none;
}

.account-item__delete {
  font-size: 2rem;
  color: #777777;
  position: absolute;
  top: 12px;
  right: 40px;
  text-decoration: none;
}

.account-item__delete:before {
  content: '削除';
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  width: 48px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  bottom: 35px;
  left: -15px;
}

.account-item__delete:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 29px;
  left: 6px;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #000 transparent transparent transparent;
}

.account-item__delete:before, .account-item__delete:after {
  transition: opacity .3s ease, visibility .3s ease;
  opacity: 0;
  visibility: hidden;
}

.account-item__delete:hover:before, .account-item__delete:hover:after {
  opacity: 1;
  visibility: visible;
}

.add-account {
  width: 320px;
  height: calc(100vh - 64px);
  position: fixed;
  right: -350px;
  top: 64px;
  background-color: #FFFFFF;
  z-index: 9999;
  box-shadow: 0 0 16px 0 #E3E3E3;
  transition: right .3s ease;
}

.add-account.is-show {
  right: 0;
}

.add-account__hader {
  background-color: #00AFEC;
  height: 96px;
  padding: 0 32px;
  position: relative;
}

.add-account__ttl {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 96px;
  color: #FFFFFF;
}

.add-account__close {
  display: block;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 33px;
  margin: auto;
}

.add-account__close .icon {
  position: absolute;
  bottom: 1px;
}

.add-account__inner {
  padding: 48px 32px 32px;
  overflow-y: auto;
}

.add-account__registration {
  display: block;
  position: relative;
}

.add-account__registration .icon {
  color: #FFFFFF;
  font-size: 2.4rem;
  position: absolute;
  top: -1px;
  left: 80px;
  z-index: 10;
}

/**
 * header
 */

.header {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: solid 1px #EEEEEE;
}

.header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 99;
}

.header__inner {
  *zoom: 1;
  clear: both;
  width: 100%;
  padding: 0 20px 0 8px;
}

.header__inner:after {
  content: "";
  display: table;
  clear: both;
}

.header__logo {
  float: left;
  width: 158px;
  margin-top: 3px;
  margin-right: 30px;
}

.header__logo img {
  display: block;
  width: 100%;
  height: 60px;
  width: 150px;
}

.header_title {
  float: left;
  height: 42px;
  line-height: 40px;
  margin-top: 10px;
  position: relative;
}

.header__title {
  margin: 0 24px 26px;
  color: #FFFFFF;
  font-size: 2.1rem;
  line-height: 1;
  font-weight: 400;
}

.header__search {
  display: table;
  padding-top: 14px;
  width: 100%;
}

.header__search__back {
  display: table-cell;
  color: #FFFFFF;
  padding: 0 18px;
  vertical-align: middle;
}

.header__search__back .icon {
  font-size: 2.6rem;
}

.header__administrator__name {
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
}

.header__administrator__name.has-icon {
  padding-left: 40px;
}

.header__administrator__name.has-icon .icon {
  position: absolute;
  left: 4px;
  bottom: 0;
  font-size: 3.2rem;
  z-index: 2;
}

.header__administrator__item {
  width: 224px;
  height: 120px;
  padding: 0;
  background-color: #FFFFFF;
  position: absolute;
  top: 45px;
  right: 0;
  box-shadow: 0px 1px 19px -7px #333333;
  border-radius: 2px;
  transition: opacity .3s ease, visibility .3s ease;
  opacity: 0;
  visibility: hidden;
}

.is-open .header__administrator__item {
  opacity: 1;
  visibility: visible;
}

.header__administrator__item li {
  list-style: none;
}

.header__administrator__item__link {
  display: block;
  line-height: 60px;
  position: relative;
  padding-left: 45px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: opacity .3s ease;
}

.header__administrator__item__link:hover {
  opacity: .7;
}

.header__administrator__item__link>.icon {
  position: absolute;
  bottom: 0;
  left: 13px;
  font-size: 2.4rem;
}

.header__user {
  float: right;
  margin-top: 18px;
  padding: 0 75px;
  position: relative;
}

.header__user>.icon {
  position: absolute;
  bottom: -3px;
  left: 0;
  font-size: 3rem;
}

.header__user__name {
  padding-left: 50px;
  font-weight: 600;
  font-size: 1.4rem;
}

.header__user__e-mail {
  padding-left: 50px;
  font-weight: 1.2rem;
  color: #777777;
}

.header__user__nemu {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.header__user__nemu__btn {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: opacity .3s ease;
}

.header__user__nemu__btn:hover {
  opacity: .7;
}

.header__user__nemu__btn .icon {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2.4rem;
  text-align: center;
}

.icon_avatar {
  float: left;
  width: 35px;
}
.icon_notification {
  float: left;
  width: 25px;
  padding-top: 6px;
}
.header__user__nemu__item {
  width: 200px;
  height: 120px;
  padding: 0;
  background-color: #FFFFFF;
  position: absolute;
  top: 36px;
  right: 0;
  box-shadow: 0px 1px 19px -7px #333333;
  border-radius: 2px;
  transition: opacity .3s ease, visibility .3s ease;
  opacity: 0;
  visibility: hidden;
}

.is-open .header__user__nemu__item {
  opacity: 1;
  visibility: visible;
}

.header__user__nemu__item li {
  list-style: none;
}

.header__user__nemu__item__link {
  display: block;
  line-height: 60px;
  position: relative;
  padding-left: 64px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  transition: opacity .3s ease;
}

.header__user__nemu__item__link:hover {
  opacity: .7;
}

.header__user__nemu__item__link>.icon {
  position: absolute;
  top: -5px;
  left: 24px;
  font-size: 2.4rem;
}

.icon-logout {
  position: absolute;
    top: 21px;
    left: 24px;
    font-size: 2.4rem;
}

.icon-profile {
  position: absolute;
    top: 21px;
    left: 24px;
    font-size: 2.4rem;
    width: 18px;
}
/**
 * text
 */

 ul li {
    padding-top: 10px;
    padding-bottom: 10px;
     list-style-type: none;
     display: block;
     color: #000;
     text-decoration: none;
 }
 /* Change the link color on hover */
 ul li:hover {
     background-color: #555;
     color: white;
 }

.text {
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 400;
}

.text--title {
  margin: 0;
  font-size: 2.4rem;
}

.text--headline {
  font-size: 2.1rem;
}

.text--headline .icon {
  position: relative;
  top: -4px;
  margin-right: 10px;
  font-size: 2.4rem;
}

.text--subheadline {
  font-size: 1.8rem;
}

.text--bold {
  font-weight: 600;
}

.text_title_header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #27703A;
}

.text--caption {
  font-size: 1.2rem;
}

.text--min {
  font-size: 1.0rem;
}

/**
 * notes
 */

.notes {
  list-style-type: none;
  padding: 0;
}

.notes__item {
  font-size: 1.2rem;
  line-height: 1.67;
  padding-left: 1em;
  text-indent: -1em;
}

.modal__table__th, .modal__table__td {
  padding: 16px 0 0;
  line-height: 1;
}

.modal__table__th {
  font-weight: normal;
  text-align: left;
}

.modal__table__td {
  font-weight: bold;
  text-align: right;
}

/**
 * icon
 */

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6syxiu");
  src: url("../fonts/icomoon.eot?6syxiu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6syxiu") format("truetype"), url("../fonts/icomoon.woff?6syxiu") format("woff"), url("../fonts/icomoon.svg?6syxiu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--account:before {
  content: "\e900";
}

.icon--add:before {
  content: "\e901";
}

.icon--alert:before {
  content: "\e902";
}

.icon--arrow:before {
  content: "\e903";
}

.icon--avatar:before {
  content: "\e904";
}

.icon--calendar:before {
  content: "\e905";
}

.icon--callCenter:before {
  content: "\e906";
}

.icon--chat:before {
  content: "\e907";
}

.icon--check:before {
  content: "\e908";
}

.icon--chevron-up:before {
  content: "\e90a";
}
.icon--chevron-up{
	transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.icon--chevron-down:before {
  content: "\e90a";
}
.icon--chevron-down{
	transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.icon--chevron-left:before {
  content: "\e909";
}

.icon--chevron-right:before {
  content: "\e90a";
}

.icon--coin:before {
  content: "\e90b";
}

.icon--corporait:before {
  content: "\e90c";
}

.icon--cross:before {
  content: "\e90d";
}

.icon--csv:before {
  content: "\e90e";
}

.icon--delete:before {
  content: "\e90f";
}

.icon--driver:before {
  content: "\e910";
}

.icon--edit:before {
  content: "\e911";
  color: black;
  opacity: 0.54;
}

.icon--edit:after {
  content: "\e912";
  margin-left: -1em;
  color: black;
}

.icon--error:before {
  content: "\e913";
}

.icon--exit:before {
  content: "\e914";
}

.icon--folder:before {
  content: "\e915";
}

.icon--graph:before {
  content: "\e916";
}

.icon--help:before {
  content: "\e917";
}

.icon--humberger:before {
  content: "\e918";
}

.icon--info:before {
  content: "\e919";
}

.icon--link:before {
  content: "\e91a";
}

.icon--list:before {
  content: "\e91b";
}

.icon--logistics:before {
  content: "\e91c";
}

.icon--loupe:before {
  content: "\e91d";
}

.icon--mail:before {
  content: "\e91e";
}

.icon--menu:before {
  content: "\e91f";
}

.icon--owner:before {
  content: "\e920";
}

.icon--parameter:before {
  content: "\e921";
}

.icon--parking:before {
  content: "\e922";
}

.icon--password:before {
  content: "\e923";
}

.icon--post:before {
  content: "\e924";
}

.icon--review:before {
  content: "\e925";
}

.icon--save:before {
  content: "\e926";
}

.icon--select:before {
  content: "\e927";
}

.icon--star:before {
  content: "\e928";
}

.icon--system:before {
  content: "\e929";
}

.icon--tel:before {
  content: "\e92a";
}

.icon--unselec:before {
  content: "\e92b";
}

.icon--user:before {
  content: "\e92c";
}

/**
 * hr
 */

.hr {
  border: none;
  border-top: solid 1px #EEEEEE;
}

/**
 * link
 */

.link {
  display: inline-block;
  text-decoration: none;
  color: #00AFEC;
  font-size: 1.8rem;
  padding: 6px 0;
  font-weight: 600;
  transition: opacity .3s ease;
}

.link:hover {
  opacity: .7;
}

.link .icon {
  position: relative;
  top: -2px;
  margin-right: 8px;
  font-size: 2.4rem;
}

/**
 * btn
 */

.btn, .input--tagcheck input+span {
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  background-color: #00AFEC;
  color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.btn:hover, .input--tagcheck input+span:hover {
  opacity: .7;
}

.btn[disabled], .input--tagcheck input+span[disabled] {
  pointer-events: none;
  background-color: #E4E4E4;
  box-shadow: none;
  opacity: 1;
}

.btn--normal {
  width: 100%;
  padding: 7px 15px;
  font-size: 1.8rem;
  letter-spacing: 1.29px;
}

.btn--large {
  width: 100%;
  padding: 15px 15px 14px;
  font-size: 1.8rem;
  letter-spacing: 1.29px;
  font-weight: 600;
}

.btn--small {
  min-width: 136px;
  padding: 6px 10px 5px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.29px;
  border-radius: 16px;
  border: solid 1px #E4E4E4;
  background-color: #FFFFFF;
  color: #00AFEC;
  box-shadow: none;
}

.btn--add {
  min-width: 192px;
  padding: 9px 9px 9px 55px;
  font-size: 1.4rem;
  letter-spacing: 1.29px;
  position: relative;
}

.btn--add:before {
  content: '';
  display: block;
  width: 40px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../images/svg/icon-plus.svg");
  background-position: center;
  background-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * input
 */

input, label, .input {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill, label:-webkit-autofill, .input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
}

.input--text, .input--num, .input--email, .input--password, .input--textarea, .input--datetime, .input--select {
  border-bottom: solid 2px #cfd8dc;
  padding: 8px 2px;
  width: 100%;
  line-height: 20px;
  font-size: 2.0rem;
  transition: border-color .3s;
}

.input--text::-webkit-input-placeholder, .input--num::-webkit-input-placeholder, .input--email::-webkit-input-placeholder, .input--password::-webkit-input-placeholder, .input--textarea::-webkit-input-placeholder, .input--datetime::-webkit-input-placeholder, .input--select::-webkit-input-placeholder {
  color: #cfd8dc;
  font-size: 1.6rem;
}

.input--text:-moz-placeholder, .input--num:-moz-placeholder, .input--email:-moz-placeholder, .input--password:-moz-placeholder, .input--textarea:-moz-placeholder, .input--datetime:-moz-placeholder, .input--select:-moz-placeholder {
  color: #cfd8dc;
  font-size: 1.6rem;
}

.input--text::-moz-placeholder, .input--num::-moz-placeholder, .input--email::-moz-placeholder, .input--password::-moz-placeholder, .input--textarea::-moz-placeholder, .input--datetime::-moz-placeholder, .input--select::-moz-placeholder {
  color: #cfd8dc;
  font-size: 1.6rem;
}

.input--text:-ms-input-placeholder, .input--num:-ms-input-placeholder, .input--email:-ms-input-placeholder, .input--password:-ms-input-placeholder, .input--textarea:-ms-input-placeholder, .input--datetime:-ms-input-placeholder, .input--select:-ms-input-placeholder {
  color: #cfd8dc;
  font-size: 1.6rem;
}

.input--text:focus, .input--text.is-focus, .input--num:focus, .input--num.is-focus, .input--email:focus, .input--email.is-focus, .input--password:focus, .input--password.is-focus, .input--textarea:focus, .input--textarea.is-focus, .input--datetime:focus, .input--datetime.is-focus, .input--select:focus, .input--select.is-focus {
  border-color: #00AFEC;
}

.input--text:disabled, .input--text.is-disabled, .input--num:disabled, .input--num.is-disabled, .input--email:disabled, .input--email.is-disabled, .input--password:disabled, .input--password.is-disabled, .input--textarea:disabled, .input--textarea.is-disabled, .input--datetime:disabled, .input--datetime.is-disabled, .input--select:disabled, .input--select.is-disabled {
  pointer-events: none;
  border-color: #cfd8dc;
}

.is-error .input--text, .is-error .input--num, .is-error .input--email, .is-error .input--password, .is-error .input--textarea, .is-error .input--datetime, .is-error .input--select {
  border-color: #F50057;
}

.input--textarea {
  display: block;
  border: solid 2px #BAE3F9;
  margin: 8px 0 2px;
  padding: 4px;
  line-height: normal;
  height: 80px;
}

.input--textarea:focus, .input--textarea.is-focus {
  border: solid 4px #00AFEC;
  margin: 8px 0 2px;
  padding: 2px;
}

.input--select {
  padding: 10px 2px;
}

.input--select select {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.input--select select:invalid+.input--select--center__value {
  color: #cfd8dc;
  font-size: 1.4rem;
}

.input--select option[value=""][disabled] {
  display: none;
}

.input--select--center {
  text-align: center;
  font-weight: 600;
}

.input--datetime {
  position: relative;
  text-align: center;
  font-weight: 600;
  line-height: 1em;
  padding-bottom: 6px;
}

.input--datetime>p:not(:first-child) {
  margin-top: 6px;
}

.input--datetime .input--datetime__date {
  font-size: 1.2rem;
}

.input--datetime .input--datetime__day {
  font-size: 1.0rem;
}

.input--datetime .input--datetime__time {
  font-size: 2.2rem;
}

.input--datetime input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  color: transparent;
}

.input--check input, .input--favorite input, .input--review input, .input--checkbox input {
  display: none;
}

.input--check input+span, .input--favorite input+span, .input--review input+span, .input--checkbox input+span {
  display: inline-block;
  overflow: hidden;
  text-indent: -999px;
  vertical-align: middle;
}

.input--favorite input+span {
  width: 18px;
  height: 24px;
  background-image: url(../images/svg/icon-favorite-off.svg);
}

.input--favorite input:checked+span {
  background-image: url(../images/svg/icon-favorite-on.svg);
}

.input--review input {
  display: none;
}

.input--review input+span {
  width: 32px;
  height: 30px;
  background-image: url(../images/svg/icon-review-off.svg);
}

.input--review input:checked+span {
  background-image: url(../images/svg/icon-review-on.svg);
}

.input--checkbox input+span {
  width: 18px;
  height: 18px;
  background-image: url(../images/svg/icon-checkbox-off.svg);
}

.input--checkbox input:checked+span {
  background-image: url(../images/svg/icon-checkbox-on.svg);
}

.input--tagcheck {
  display: inline-block;
  width: 100%;
}

.input--tagcheck input {
  display: none;
}

.input--tagcheck input+span {
  display: inline-block;
  width: 100%;
  padding: 14px;
  background-color: #FFFFFF;
  color: #263238;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input--tagcheck input:checked+span {
  background-color: #00AFEC;
  color: #FFFFFF;
}

.input--search {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input--search input {
  width: 100%;
  line-height: 1;
  padding: 15px 40px 15px 16px;
}

.input--search input::-webkit-input-placeholder {
  color: #B0BEC5;
}

.input--search__clear {
  display: none;
  position: absolute;
  top: 50%;
  right: 8px;
  padding: 10px;
  transform: translateY(-50%);
}

.input--search__clear img {
  display: block;
  width: 100%;
}

.is-show>.input--search__clear {
  display: block;
}

/**
 * field
 */

.field {
  padding: 8px 0 26px;
}

.field__label {
  display: block;
  color: #777777;
  font-size: 1.2rem;
  font-weight: 600;
}

.field__label.has-icon {
  position: relative;
}

.field__label.has-icon .icon {
  position: absolute;
  left: 0;
  bottom: -10px;
  font-size: 2.4rem;
  z-index: 2;
}

.field__label__required {
  margin-left: 8px;
  color: #F50057;
  font-size: 1.0rem;
}

.field__inputbox {
  position: relative;
  margin-top: 3px;
}

.field__inputbox.has-icon .icon {
  position: absolute;
  left: 0;
  bottom: 3px;
  font-size: 2.4rem;
  z-index: 2;
}

.field__inputbox.has-icon .input {
  padding-left: 2em;
}

.is-error .field__inputbox {
  background-color: #FFFAFA;
}

.field__caption {
  margin-top: 4px;
}

.field__caption__note {
  font-size: 1.2rem;
  color: #777777;
}

.field__caption__error {
  font-size: 1.2rem;
  color: #F50057;
  padding-right: 15px;
  position: relative;
}

.field__caption__error .icon {
  position: absolute;
  top: 0;
  right: 2px;
}

.field--review {
  text-align: center;
}

.field--review ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 285px;
}

.field--tagcheck {
  margin: 0 -8px;
}

.field--tagcheck>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: table;
  width: 100%;
}

.field--tagcheck>ul:not(:first-child) {
  margin-top: 20px;
}

.field--tagcheck>ul>li {
  padding: 0 8px;
  display: table-cell;
}

/**
 * fieldset
 */

.fieldset {
  padding: 12px 6px 0;
  border: none;
}

.fieldset--evaluate {
  border-top: solid 1px #777777;
}

.fieldset__legend {
  padding: 0 8px;
  text-align: center;
  font-size: 1.3rem;
  color: #777777;
}

/**
 * listbox
 */

.listcategory {
  padding: 10px 24px;
  background-color: #90A4AE;
  color: #FFFFFF;
}

.listcategory__text {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
}

.listbox {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: solid 1px #EEEEEE;
  background-color: #FFFFFF;
}

.listbox__item {
  border-bottom: solid 1px #EEEEEE;
}

.listbox__item__box {
  position: relative;
  display: block;
  padding: 20px 24px;
  text-decoration: none;
  color: #263238;
}

.listbox__item__box.type-drilldown {
  padding-right: 40px;
}

.listbox__item__box.type-drilldown:after {
  content: "\e90e";
  font-family: 'icomoon';
  position: absolute;
  right: 16px;
  top: 50%;
  font-size: 2.4rem;
  transform: translateY(-50%);
  color: #cfd8dc;
}

.listbox__item__box.type-sns .logo {
  margin-right: 16px;
}

.listbox__item__box.type-field {
  padding-left: 16px;
}

.listbox__item__box.type-field dl {
  display: table;
  width: 100%;
}

.listbox__item__box.type-field dt {
  display: table-cell;
  width: 102px;
  vertical-align: middle;
  font-size: 1.2rem;
  color: #777777;
}

.listbox__item__box.type-field dd {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}

.listbox__item__box.type-field {
  padding-bottom: 22px;
}

.listbox__item__box.type-checkbox {
  padding-right: 50px;
}

.listbox__item__box.type-checkbox .input {
  position: absolute;
  padding: 10px;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.listbox__item__box.type-favorite {
  padding: 0;
  padding-right: 60px;
}

.listbox__item__box.type-favorite .input {
  position: absolute;
  padding: 10px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.listbox__item__box__btn {
  display: block;
  padding: 20px 24px;
  text-decoration: none;
  color: #263238;
}

.listbox__item__box__time {
  margin-top: 2px;
  color: #777777;
  font-size: 1.3rem;
}

.listbox__item__box__time>span:not(:first-child) {
  margin-left: 24px;
}

/**
 * carousel
 */

.carousel__item img {
  width: 100%;
}

.slick-dots {
  position: relative;
  bottom: 0;
}

.slick-dots li {
  margin: 0 12px;
}

.slick-dots li button:before {
  transform: scale(0.8);
  color: #CFD8DC;
}

.slick-dots li.slick-active button:before {
  color: #00AFEC;
}

/**
 * panel
 */

.panellist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 22px 16px;
}

.panellist>li:not(:first-child) {
  margin-top: 16px;
}

.panel {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.panel__inner {
  position: relative;
  padding: 14px;
  padding-bottom: 0;
  border-radius: 4px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.panel__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.panel__body {
  padding-bottom: 16px;
}

.panel__accordion .accordion__target {
  padding-top: 8px;
  padding-bottom: 22px;
}

.panel__accordion .accordion__toggle {
  border-top: solid 1px #ECEFF1;
  line-height: 56px;
  text-decoration: none;
  font-weight: 600;
  color: #00AFEC;
}

/**
 * reservation
 */

.reservation__time {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  *zoom: 1;
  font-size: 1.7rem;
  font-weight: 600;
}

.reservation__time>li {
  float: left;
}

.reservation__time>li:not(:first-child):before {
  content: "−";
  margin: 0 4px;
}

.reservation__time>li small {
  font-size: 1.6rem;
}

.reservation__carinfo {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  *zoom: 1;
  margin-top: 6px;
  font-size: 1.3rem;
}

.reservation__carinfo>li {
  float: left;
  line-height: 1;
}

.reservation__carinfo>li:not(:first-child) {
  margin-left: 8px;
  padding-left: 8px;
  border-left: solid 1px #E4E4E4;
}

.card .reservation__carinfo {
  margin-top: 10px;
}

.reservation__parking {
  position: relative;
  margin-top: 18px;
  padding-right: 36px;
}

.reservation__parking__name {
  font-size: 1.3rem;
  font-weight: 600;
}

.reservation__parking__address {
  margin-top: 2px;
  font-size: 1.3rem;
}

.reservation__parking__type {
  margin-top: 2px;
  font-size: 1.2rem;
}

.reservation__parking__favorite {
  position: absolute;
  top: 0;
  right: 6px;
}

/**
 * card
 */
.card {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.card__inner {
  position: relative;
  padding: 14px;
  padding-bottom: 0;
  border-radius: 4px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.card__inner:before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.card__accordion .accordion__toggle {
  font-size: 2.4rem;
  line-height: 48px;
  text-decoration: none;
  color: #00AFEC;
}

.card__dateTime {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.card__dateTime__item {
  font-size: 1.8rem;
  line-height: 1;
}

.card__dateTime__item__date {
  font-size: 1.2rem;
  margin-right: 6px;
}

.card__dateTime__item__date__day {
  font-size: 0.9rem;
}

.card__dateTime__span {
  width: 8px;
  height: 1px;
  background-color: #263238;
  margin: 0 4px 0 6px;
}

.card__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__buttons .btn--small {
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  width: 100%;
}

.display-none {
  display: none;
}

.card__buttons__item {
  -ms-flex-preferred-size: 47.741935%;
  flex-basis: 47.741935%;
}

.card--over .card__inner:before {
  background-color: #F50057;
}

.card--over .card__title {
  color: #F50057;
}

.card--expire .card__inner:before {
  background-color: #0088C6;
}

.card--expire .card__title {
  color: #0088C6;
}

.card--inuse .card__inner:before {
  background-color: #00AFEC;
}

.card--inuse .card__title {
  color: #00AFEC;
}

.card--reserve .card__inner:before {
  background-color: #7DCEF4;
}

.card--reserve .card__title {
  color: #7DCEF4;
}

/**
 * accordion
 */

.accordion__target {
  display: none;
}

.accordion__toggle {
  display: block;
  width: 100%;
  text-align: center;
}

.accordion__toggle .icon {
  transition: .4s;
}

.is-open .accordion__toggle .icon {
  transform: rotate(180deg);
  transition: .4s;
}

.accordion__toggle__open {
  margin-left: 8px;
}

.is-open .accordion__toggle__open {
  display: none;
}

.accordion__toggle__close {
  margin-left: 8px;
  display: none;
}

.is-open .accordion__toggle__close {
  display: inline;
}

/**
 * review
 */

.review {
  width: 94px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.review--large {
  width: 163px;
}

.review__item {
  width: 16px;
}

.review--large .review__item {
  width: 24px;
}

.review__item img {
  width: 100%;
}

/**
 * empty
 */

.empty {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.6rem;
  color: #777777;
}

/**
 * tab
 */

.tabmenu {
  position: relative;
}

.tabmenu__crrline {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 4px;
  background-color: #BAE3F9;
  transition: .2s;
}

.tab__target {
  display: none;
}

.tab__target.is-current {
  display: block;
}

/**
 * cardlist
 */

.cardlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 22px 16px;
}

.cardlist__item:not(:first-child) {
  margin-top: 32px;
}

/**
 * select-icon
 */

.select-icon {
  padding-right: 30px;
}

.select-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #333333 transparent transparent transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
}

/**
 * copyright
 */

.copyright {
  display: block;
  margin-top: 60px;
  font-size: 1.2rem;
  text-align: center;
  color: #777777;
}

/**
 * main-header
 */

.main-header {
  *zoom: 1;
  clear: both;
  position: fixed;
  top: 64px;
  width: calc(100% - 240px);
  min-width: calc(1280px - 240px);
  padding: 28px 40px 28px 24px;
  /*box-shadow: 0 2px 6px 0 rgba(227, 227, 227, 0.54);*/
  border-bottom: 1px solid #eee;
  background-color: #FFFFFF;
  z-index: 10;
  transition: width .3s ease, min-width .3s ease;
}

.main-header:after {
  content: "";
  display: table;
  clear: both;
}

.is-simple-nav .main-header {
  width: calc(100% - 72px);
  min-width: calc(1280px - 72px);
}

.main-header__ttl {
  float: left;
  padding-left: 56px;
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
}

.main-header__ttl .icon {
  font-size: 4rem;
  position: absolute;
  bottom: -12px;
  left: 0;
}

/**
 * breadcrumb
 */

.breadcrumb {
  padding: 17px 24px;
}

.breadcrumb li {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
}

.breadcrumb li:after {
  content: '>';
  margin-left: 5px;
}

.breadcrumb li:first-child {
  font-weight: 400;
  color: #777777;
}

.breadcrumb li:last-child:after {
  display: none;
}

/**
 * authority-label
 */

.authority-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 30px;
  margin: 0 5px;
  font-size: 1.1rem;
  line-height: 1.2;
  text-align: center;
  border: solid 1px #E4E4E4;
  border-radius: 4px;
}

/**
 * accordion
 */

.accordion__taget {
  display: none;
}

.accordion__text--open {
  display: block;
}

.is-open .accordion__text--open {
  display: none;
}

.accordion__text--close {
  display: none;
}

.is-open .accordion__text--close {
  display: block;
}

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(38, 50, 56, 0.54);
}

.overlay.is-show {
  animation: fadeIn .2s ease-in-out 0s 1 normal;
  display: block;
  opacity: 1;
}

.modal {
  display: none;
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 480px;
  min-height: 300px;
  padding-top: 25px;
  background-color: #FFFFFF;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.18), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: #FFFFFF;
}

.modal.is-show {
  animation: fadeIn .2s ease-in-out 0s 1 normal;
  display: block;
  opacity: 1;
}
.modal__header {
  padding: 0 40px 20px;
}

.modal__text {
  margin-top: 5px;
}

.modal__account {
  padding: 24px 40px 8px;
  background-color: #F4F4F4;
  box-shadow: inset 0 0 4px 0 #E4E4E4;
}

.modal__input--text {
  border-bottom: solid 2px #cfd8dc;
  padding: 8px 2px;
  width: 100%;
  line-height: 20px;
  word-break: break-all;
}

.modal__buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 16px;
}

.modal__buttons__item {
  display: block;
  width: 215px;
  text-align: center;
  line-height: 40px;
}

.modal__buttons__item .link {
  display: block;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search {
  width: 100%;
}

.search__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 70px 10px 40px;
  /* background-color: #F4F4F4; */
}

.search__box {
  margin-right: 55px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 736px;
  flex-basis: 736px;
  min-width: 736px;
}

.search__btn {
  position: relative;
  margin-top: 7px;
}

.search__btn .icon {
  z-index: 1;
  font-size: 2rem;
  position: absolute;
  left: 25px;
  top: -2px;
}

.search__result {
  margin-top: 24px;
  padding-left: 30px;
}

.search__result__txt {
  font-size: 1.6rem;
  font-weight: 600;
}

/**
 * side-nav
 */

.side-nav {
  padding: 16px 0;
  height: 100%;
  border-right: solid 1px #EEEEEE;
  overflow: hidden;
  background-color: #f1f1f1;
}

.side-nav .copyright {
  display: block;
  width: 240px;
  position: absolute;
  bottom: 20px;
  margin: auto;
}

.is-simple-nav .side-nav .copyright {
  display: none;
}

.side-nav__btn {
  width: 24px;
  height: 24px;
  margin: 20px 0 16px 24px;
  position: relative;
  cursor: pointer;
}

.side-nav__btn:hover .side-nav__btn--icon:before {
  transform: rotate(-30deg);
  width: 12px;
  top: -3px;
  right: auto;
  left: 0;
}

.side-nav__btn:hover .side-nav__btn--icon:after {
  transform: rotate(30deg);
  width: 12px;
  bottom: -3px;
  right: auto;
  left: 0;
}

.is-simple-nav .side-nav__btn:hover .side-nav__btn--icon:before {
  transform: rotate(30deg);
  width: 12px;
  top: -3px;
  left: auto;
  right: 0;
}

.is-simple-nav .side-nav__btn:hover .side-nav__btn--icon:after {
  transform: rotate(-30deg);
  width: 12px;
  bottom: -3px;
  left: auto;
  right: 0;
}

.side-nav__btn--icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #00AFEC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.side-nav__btn--icon:before, .side-nav__btn--icon:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: #00AFEC;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  transition: all .3s ease;
}

.side-nav__btn--icon:before {
  top: -6px;
}

.side-nav__btn--icon:after {
  bottom: -6px;
}

.side-nav__item__name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #00AFEC;
  padding: 0 24px;
}

.is-simple-nav .side-nav__item__name {
  visibility: hidden;
}

.side-nav__item {
  width: 240px;
  padding: 0;
}

.side-nav__item>li:first-child {
  margin-top: 0;
}

.side-nav__item__link {
  display: block;
  line-height: 48px;
  min-height: 48px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #777777;
  text-decoration: none;
  padding-left: 56px;
  position: relative;
  transition: opacity .3s ease;
}

.is-simple-nav .side-nav__item__link {
  font-size: 0;
}

.side-nav__item__link .icon {
  position: absolute;
  left: 24px;
  bottom: 0;
  font-size: 2.4rem;
  z-index: 2;
}

.side-nav__item__link.is-current {
  background-color: #00AFEC;
  color: #FFFFFF;
  transition: 1s;
}

.side-nav__item__link:hover {
  opacity: .7;
}

/**
 * wrapper
 */

.contents-wrapper {
  display: -ms-flexbox;
  display: flex;
}

.side-nav-wrapper {
  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
  max-width:  240px;
  border-right: solid 1px #EEEEEE;
  height: 100vh;
  min-height: 800px;
  padding-top: 64px;
  box-sizing: border-box;
  position: relative;
  transition: flex-basis .3s ease, min-width .3s ease;
  transition: flex-basis .3s ease, min-width .3s ease, -ms-flex-preferred-size .3s ease;
}

.is-simple-nav .side-nav-wrapper {
  -ms-flex-preferred-size: 72px;
  flex-basis: 72px;
  min-width: 72px;
}

.main-wrapper {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 160px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.login__header {
  height: 120px;
}

.login__logo {
  width: 304px;
}

.login__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.login__ttl {
  font-size: 2.1rem;
  font-weight: 600;
}

.login__form__inner {
  width: 360px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

dl, dt, dd, hr {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  font: inherit;
  vertical-align: baseline;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.opt-color--key {
  color: #00AFEC;
}

.opt-color--warning {
  color: #F50057;
}

.opt-color--secondary {
  color: #616161;
}

.opt-color--formtext {
  color: #777777;
}

.opt-color--note {
  color: #777777;
}

.opt-bg--gray {
  background-color: #E4E4E4;
}

.opt-bg--key {
  background-color: #00AFEC;
}

.opt-al--left {
  text-align: left;
}

.opt-al--center {
  text-align: center;
}

.opt-al--right {
  text-align: right;
}

.opt-block--center {
  margin-left: auto;
  margin-right: auto;
}

.opt-float--left {
  float: left;
}

.opt-float--right {
  float: right;
}

.opt-inner {
  padding: 0 24px;
}

.opt-pt--4 {
  padding-top: 4px;
}

.opt-pt--8 {
  padding-top: 8px;
}

.opt-pt--12 {
  padding-top: 12px;
}

.opt-pt--16 {
  padding-top: 16px;
}

.opt-pt--20 {
  padding-top: 20px;
}

.opt-pt--32 {
  padding-top: 32px;
}

.opt-pt--40 {
  padding-top: 40px;
}

.opt-pt--60 {
  padding-top: 60px;
}

.opt-pb--4 {
  padding-bottom: 4px;
}

.opt-pb--8 {
  padding-bottom: 8px;
}

.opt-pb--12 {
  padding-bottom: 12px;
}

.opt-pb--16 {
  padding-bottom: 16px;
}

.opt-pb--20 {
  padding-bottom: 20px;
}

.opt-pb--32 {
  padding-bottom: 32px;
}

.opt-pb--40 {
  padding-bottom: 40px;
}

.opt-pb--60 {
  padding-bottom: 60px;
}

.opt-pl--4 {
  padding-left: 4px;
}

.opt-pl--8 {
  padding-left: 8px;
}

.opt-pl--12 {
  padding-left: 12px;
}

.opt-pl--16 {
  padding-left: 16px;
}

.opt-pl--20 {
  padding-left: 20px;
}

.opt-pl--32 {
  padding-left: 32px;
}

.opt-pl--40 {
  padding-left: 40px;
}

.opt-pl--60 {
  padding-left: 60px;
}

.opt-pr--4 {
  padding-right: 4px;
}

.opt-pr--8 {
  padding-right: 8px;
}

.opt-pr--12 {
  padding-right: 12px;
}

.opt-pr--16 {
  padding-right: 16px;
}

.opt-pr--20 {
  padding-right: 20px;
}

.opt-pr--32 {
  padding-right: 32px;
}

.opt-pr--40 {
  padding-right: 40px;
}

.opt-pr--60 {
  padding-right: 60px;
}

.opt-mt--4 {
  margin-top: 4px;
}

.opt-mt--8 {
  margin-top: 8px;
}

.opt-mt--12 {
  margin-top: 12px;
}

.opt-mt--16 {
  margin-top: 16px;
}

.opt-mt--20 {
  margin-top: 20px;
}

.opt-mt--32 {
  margin-top: 32px;
}

.opt-mt--40 {
  margin-top: 40px;
}

.opt-mt--60 {
  margin-top: 60px;
}

.opt-mb--4 {
  margin-bottom: 4px;
}

.opt-mb--8 {
  margin-bottom: 8px;
}

.opt-mb--12 {
  margin-bottom: 12px;
}

.opt-mb--16 {
  margin-bottom: 16px;
}

.opt-mb--20 {
  margin-bottom: 20px;
}

.opt-mb--32 {
  margin-bottom: 32px;
}

.opt-mb--40 {
  margin-bottom: 40px;
}

.opt-mb--60 {
  margin-bottom: 60px;
}

.opt-ml--4 {
  margin-left: 4px;
}

.opt-ml--8 {
  margin-left: 8px;
}

.opt-ml--12 {
  margin-left: 12px;
}

.opt-ml--16 {
  margin-left: 16px;
}

.opt-ml--20 {
  margin-left: 20px;
}

.opt-ml--32 {
  margin-left: 32px;
}

.opt-ml--40 {
  margin-left: 40px;
}

.opt-ml--60 {
  margin-left: 60px;
}

.opt-mr--4 {
  margin-right: 4px;
}

.opt-mr--8 {
  margin-right: 8px;
}

.opt-mr--12 {
  margin-right: 12px;
}

.opt-mr--16 {
  margin-right: 16px;
}

.opt-mr--20 {
  margin-right: 20px;
}

.opt-mr--32 {
  margin-right: 32px;
}

.opt-mr--40 {
  margin-right: 40px;
}

.opt-mr--60 {
  margin-right: 60px;
}

.opt-fb--5 {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
}

.opt-fb--10 {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.opt-fb--15 {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.opt-fb--20 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.opt-fb--25 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.opt-fb--30 {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.opt-fb--33 {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}

.opt-fb--40 {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.opt-fb--50 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.opt-fb--60 {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.opt-fb--100 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.underlined{
  text-decoration: underline;
}
.width--400{
  width: 400px;
}

.opt-fb--85{
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}
